<section class="flex justity-center items-center min-h-screen">
  <div
    class="container mx-auto max-w-4xl bg-white/70 p-4 rounded-xl shadow border border-sky-300 flex flex-col md:flex-row"
  >
    <div class="md:flex md:w-6/12 p-10 flex-col justify-center text-center">
      <div class="space-y-4">
        <h2 class="text-maincolor font-bold tracking-tight text-sm uppercase">
          Welcome TO Our community
        </h2>
        <h1 class="text-3xl font-black text-gray-800 leading-tight">Create A New Account</h1>
        <div class="w-40 mx-auto h-1 bg-maincolor rounded-full"></div>
        <p class="text-gray-500 text-sm leading-relaxed italic">
          "Join our community and start your journey with us today."
        </p>
      </div>
    </div>

    <div class="w-full md:w-6/12 p-8 md:p-12 bg-white/25 shadow rounded border-sky-100">
      <h2 class="text-center text-4xl">Creat a new account</h2>
      <p class="text-center text-gray-500 mb-2">it is quick and easy.</p>
      <div class="w-50 mb-4 mx-auto h-1 bg-maincolor/70 rounded"></div>

      <form [formGroup]="registerform" (ngSubmit)="registeration()" class="grid gap-y-5">
        <div class="relative z-0">
          <input
            formControlName="name"
            type="text"
            id="fullName"
            class="block py-2.5 px-0 w-full text-sm text-heading bg-transparent border-0 border-b-2 border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer"
            placeholder=" "
          />
          <label
            for="fullName"
            class="absolute text-sm text-body duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto"
            >fullName</label
          >
        </div>

        @if (registerform.get('name')?.invalid && registerform.get('name')?.touched) {
          <div
            class="flex p-3 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
            role="alert"
          >
            <span class="sr-only">Danger</span>
            <div>
              <ul class="list-disc list-outside space-y-1 ps-2.5">
                @if (registerform.get('name')?.hasError('required')) {
                  <li>Full Name is required.</li>
                } @else if (registerform.get('name')?.hasError('minlength')) {
                  <li>Name must be at least 3 characters</li>
                }
              </ul>
            </div>
          </div>
        }

        <div class="relative z-0">
          <input
            formControlName="username"
            type="text"
            id="userName"
            class="block py-2.5 px-0 w-full text-sm text-heading bg-transparent border-0 border-b-2 border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer"
            placeholder=" "
          />
          <label
            for="userName"
            class="absolute text-sm text-body duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto"
            >userName</label
          >
        </div>

        <div class="relative z-0">
          <input
            formControlName="email"
            type="text"
            id="email"
            class="block py-2.5 px-0 w-full text-sm text-heading bg-transparent border-0 border-b-2 border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer"
            placeholder=" "
          />
          <label
            for="email"
            class="absolute text-sm text-body duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto"
            >Email</label
          >
        </div>
        @if (registerform.get('email')?.invalid && registerform.get('email')?.touched) {
          <div
            class="flex p-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
            role="alert"
          >
            <span class="sr-only">Danger</span>
            <div>
              <ul class="list-disc list-outside space-y-1 ps-2.5">
                @if (registerform.get('email')?.hasError('required')) {
                  <li>Email is required.</li>
                } @else if (registerform.get('email')?.hasError('email')) {
                  <li>Please enter a valid email address.</li>
                }
              </ul>
            </div>
          </div>
        }

        <div class="relative z-0">
          <select
            formControlName="gender"
            type="text"
            id="gender"
            class="block py-2.5 px-0 w-full text-sm text-heading bg-transparent border-0 border-b-2 border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer"
            placeholder=" "
          >
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
          <label
            for="gender"
            class="absolute text-sm text-body duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto"
            >select gender</label
          >
        </div>
        @if (registerform.get('gender')?.invalid && registerform.get('gender')?.touched) {
          <div
            class="flex p-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
            role="alert"
          >
            <span class="sr-only">Danger</span>
            <div>
              <ul class="list-disc list-outside space-y-1 ps-2.5">
                <li>Please select your gender.</li>
              </ul>
            </div>
          </div>
        }

        <div class="relative z-0">
          <input
            formControlName="dateOfBirth"
            type="date"
            id="date"
            class="block py-2.5 px-0 w-full text-sm text-heading bg-transparent border-0 border-b-2 border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer"
            placeholder=" "
          />
          <label
            for="date"
            class="absolute text-sm text-body duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto"
            >Select Date</label
          >
        </div>
        @if (registerform.get('dateofbirth')?.invalid && registerform.get('dateofbirth')?.touched) {
          <div
            class="flex p-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
            role="alert"
          >
            <span class="sr-only">Danger</span>
            <div>
              <ul class="list-disc list-outside space-y-1 ps-2.5">
                <li>Date of birth is required.</li>
              </ul>
            </div>
          </div>
        }

        <div class="relative z-0">
          <input
            formControlName="password"
            type="password"
            id="password"
            class="block py-2.5 px-0 w-full text-sm text-heading bg-transparent border-0 border-b-2 border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer"
            placeholder=" "
          />
          <label
            for="password"
            class="absolute text-sm text-body duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto"
            >password</label
          >
        </div>
        @if (registerform.get('password')?.invalid && registerform.get('password')?.touched) {
          <div
            class="flex p-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
            role="alert"
          >
            <span class="sr-only">Danger</span>
            <div>
              <ul class="list-disc list-outside space-y-1 ps-2.5">
                @if (registerform.get('password')?.hasError('required')) {
                  <li>Password is required.</li>
                } @else if (registerform.get('password')?.hasError('pattern')) {
                  <li>
                    Must contain at least 8 chars, 1 uppercase, 1 lowercase, 1 number, and 1 special
                  </li>
                }
              </ul>
            </div>
          </div>
        }

        <div class="relative z-0">
          <input
            formControlName="rePassword"
            type="password"
            id="rePassword"
            class="block py-2.5 px-0 w-full text-sm text-heading bg-transparent border-0 border-b-2 border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer"
            placeholder=" "
          />
          <label
            for="rePassword"
            class="absolute text-sm text-body duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto"
            >confirm password</label
          >
        </div>
        @if (registerform.get('rePassword')?.invalid && registerform.get('rePassword')?.touched) {
          <div
            class="flex p-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
            role="alert"
          >
            <span class="sr-only">Danger</span>
            <div>
              <ul class="list-disc list-outside space-y-1 ps-2.5">
                @if (registerform.get('rePassword')?.hasError('required')) {
                  <li>Please confirm your password.</li>
                } @else if (registerform.get('rePassword')?.hasError('mismatch')) {
                  <li>Passwords do not match.</li>
                }
              </ul>
            </div>
          </div>
        }

        <button
          [disabled]="loading"
          class="bg-maincolor text-white py-2 rounded transition-translate duration-500 hover:-translate-y-1 hover:shadow hover:scale-105 cursor-pointer disabled:bg-maincolor/50"
        >
          Create New Account
          @if (loading) {
            <i class="fa-solid fa-spinner animate-spin"></i>
          }
        </button>
        @if (msgErr) {
          <div class="">
            <p class="border bg-red-100 py-2 rounded text-center text-red-900 font-bold">
              {{ msgErr }}
            </p>
          </div>
        }
        <div class="mx-auto w-full rounded">
          <button
            (click)="loginR()"
            class="w-full cursor-pointer bg-white/25 hover:text-heading rounded-xl text-md px-3 py-2 font-black underline decoration-2 underline-offset-5"
          >
            i have already an account
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
