<div class="container mx-auto max-w-4xl mt-10 px-4">
  <h1 class="text-2xl font-bold text-headcolor mb-6 ps-2">Settings</h1>

  <div
    class="bg-secligter rounded-lg shadow-sm flex flex-col md:flex-row min-h-125 overflow-hidden"
  >
    <!-- Sidebar - التنقل الجانبي -->
    <aside class="w-full md:w-1/4 bg-secoundcolor/10 border-e border-secoundcolor/20 p-4">
      <nav class="flex flex-col gap-y-2">
        <button
          routerLink="theme"
          routerLinkActive="bg-maincolor text-secligter"
          class="flex items-center gap-x-3 p-3 rounded-base cursor-pointer text-headcolor/70 hover:bg-maincolor/70 focus:text-secligter focus:shadow-md transition-all"
        >
          <i class="fa-solid fa-palette"></i> Theme
        </button>
        <button
          routerLink="change"
          routerLinkActive="bg-maincolor text-secligter"
          class="flex items-center gap-x-3 p-3 rounded-base cursor-pointer text-headcolor/70 hover:bg-maincolor/70 focus:text-secligter focus:shadow-md transition-all"
        >
          <i class="fa-solid fa-lock"></i> Password
        </button>
      </nav>
    </aside>

    <main class="w-full md:w-3/4 p-6 md:p-10">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
