<aside
  class="w-full bg-secligter/35 rounded-2xl shadow-sm border border-secoundcolor p-4 sticky top-17"
>
  <div class="mb-4 px-2">
    <h3 class="font-bold text-headcolor/90 text-lg">Who to follow</h3>
  </div>

  <ul class="space-y-4">
    @for (follow of suggestedFollows; track follow._id) {
      <li
        class="flex items-center justify-between group p-2 rounded-xl hover:bg-maincolor/5 transition-all"
      >
        <div class="flex items-center space-x-3">
          <div class="relative">
            <img
              [src]="follow.photo"
              [alt]="follow.name"
              class="w-10 h-10 rounded-full object-cover border border-secoundcolor"
            />
            <span
              class="absolute bottom-0 right-0 w-3 h-3 bg-green-500 border-2 border-white rounded-full"
            ></span>
          </div>
          <div class="flex flex-col">
            <span class="text-sm font-bold text-headcolor/90 truncate max-w-25">{{
              follow.name
            }}</span>
            <span class="text-xs text-headcolor/50"
              >matual followers {{ follow.mutualFollowersCount }}</span
            >
          </div>
        </div>
        <button
          style="border: 1px solid var(--main-color); color: var(--main-color)"
          class="text-xs font-bold px-3 py-1.5 rounded-full hover:bg-maincolor/50 hover:text-secoundcolor transition-all cursor-pointer"
        >
          follow
        </button>
      </li>
    }
  </ul>
</aside>
