<nav
  class="bg-white/50 backdrop-blur-md border-b border-gray-100 px-6 py-3 flex items-center justify-between shadow-sm sticky top-0 z-50"
>
  <div class="flex items-center space-x-3 flex-shrink-0">
    <div class="w-10 h-10 rounded-full overflow-hidden shadow">
      <img
        src="/assets social/imgs/route.png"
        alt="Logo"
        class="w-full h-full object-cover cursor-pointer"
        routerLink="/feed"
      />
    </div>
    <a
      routerLink="/feed"
      class="text--maincolor font-bold text-xl hover:opacity-80 transition-opacity"
    >
      Social
    </a>
  </div>

  <div
    class="hidden md:flex items-center bg-white border border-gray-200 rounded-full px-2 py-1 shadow-sm space-x-1"
  >
    <a
      routerLink="/feed"
      routerLinkActive="activeLink"
      [routerLinkActiveOptions]="{ exact: true }"
      class="text-gray-500 hover:text-maincolor font-medium px-4 py-1.5 rounded-full transition-all"
    >
      Feed</a
    >
    <a
      routerLink="/profile"
      routerLinkActive="activeLink"
      class="text-gray-500 hover:text-maincolor font-medium px-4 py-1.5 rounded-full transition-all"
      >Profile</a
    >
    <a
      routerLink="/notification"
      routerLinkActive="activeLink"
      class="text-gray-500 hover:text-maincolor font-medium px-4 py-1.5 rounded-full transition-all"
      >Notification</a
    >
  </div>

  <div class="flex relative items-center space-x-4 md:order-2 md:space-x-0 rtl:space-x-reverse">
    <button
      type="button"
      class="flex text-sm bg-neutral-primary rounded-full md:me-0 focus:ring-4 focus:ring-neutral-tertiary"
      (click)="showdrop = !showdrop"
    >
      <span class="sr-only">Open user menu</span>
      <img
        class="w-8 h-8 rounded-full cursor-pointer"
        src="/assets social/imgs/default-profile.png"
        alt="user photo"
      />
    </button>
    <!-- Dropdown menu -->
    <div
      class="z-50 absolute top-13 end-2 bg-neutral-primary-medium border border-default-medium rounded-base shadow-lg w-44"
      [class.hidden]="!showdrop"
    >
      <div class="px-4 py-3 text-sm border-b border-default">
        <span class="block text-heading font-medium"> {{ userinfo.name }}</span>
        <span class="block text-body truncate">{{ userinfo.email }}</span>
      </div>
      <ul class="p-2 text-sm text-body font-medium">
        <li>
          <a
            routerLink="/profile"
            class="inline-flex cursor-pointer items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded"
          >
            <i class="fa-regular fa-circle-user me-1"></i> profile</a
          >
        </li>
        <li>
          <a
            routerLink="/change"
            class="inline-flex cursor-pointer items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded"
            ><i class="fa-solid fa-sliders me-1"></i> Settings</a
          >
        </li>

        <li>
          <a
            (click)="logoutmodul()"
            class="inline-flex cursor-pointer items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded"
          >
            <i class="fa-solid fa-arrow-right-from-bracket me-1"></i> Log out</a
          >
        </li>
      </ul>
    </div>
    <button
      data-collapse-toggle="navbar-user"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-body rounded-base md:hidden hover:bg-neutral-secondary-soft hover:text-heading focus:outline-none focus:ring-2 focus:ring-neutral-tertiary"
      aria-controls="navbar-user"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-6 h-6"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-width="2"
          d="M5 7h14M5 12h14M5 17h14"
        />
      </svg>
    </button>
  </div>
</nav>
<!-- logout module -->

<div
  [class.hidden]="!showlogoutmodul"
  (click)="logoutmodul()"
  class="z-55 fixed top-0 opacity-70 min-w-full shadow min-h-full bg-black"
>
  <div
    (click)="$event.stopPropagation()"
    class="z-51 fixed top-1/2 -translate-y-1/2 start-1/2 -translate-x-1/2"
  >
    <div class="relative p-4 w-full max-w-md max-h-full">
      <div
        class="relative bg-neutral-primary-soft border border-default rounded-base shadow-sm p-4 md:p-6"
      >
        <button
          (click)="logoutmodul()"
          type="button"
          class="absolute cursor-pointer top-3 end-2.5 text-body bg-transparent hover:bg-neutral-tertiary hover:text-heading rounded-base text-sm w-9 h-9 ms-auto inline-flex justify-center items-center"
        >
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18 17.94 6M18 18 6.06 6"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
        <div class="p-4 md:p-5 text-center">
          <svg
            class="mx-auto mb-4 text-fg-disabled w-12 h-12"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 13V8m0 8h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
            />
          </svg>
          <h3 class="mb-6 text-body">Are you sure you want to logout from your account?</h3>
          <div class="flex items-center space-x-4 justify-center">
            <button
              (click)="logout()"
              type="button"
              class="text-white cursor-pointer bg-danger box-border border border-transparent hover:bg-danger-strong focus:ring-4 focus:ring-danger-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none"
            >
              Yes, I'm sure
            </button>
            <button
              (click)="logoutmodul()"
              type="button"
              class="text-body cursor-pointer bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading focus:ring-4 focus:ring-neutral-tertiary shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none"
            >
              No, cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
