.activeLink {
  font-weight: 600;
  text-decoration: underline;
  text-decoration-color: var(--color-maincolor);
  text-decoration-thickness: 2px;
  text-underline-offset: 8px;
  background-color: var(--color-gray-100);
}
