<nav
  class="bg-white/50 backdrop-blur-md border-b border-gray-100 px-6 py-3 flex items-center justify-between shadow-sm sticky top-0 z-50"
>
  <div class="flex items-center space-x-3 flex-shrink-0">
    <div
      class="w-10 h-10 rounded-full overflow-hidden border-2 border-[var(--color-maincolor)] shadow-sm"
    >
      <img
        src="assets/font/logo.png"
        alt="Logo"
        class="w-full h-full object-cover cursor-pointer"
        routerLink="/feed"
      />
    </div>
    <a
      routerLink="/feed"
      class="text--maincolor font-bold text-xl hover:opacity-80 transition-opacity"
    >
      Social
    </a>
  </div>

  <div
    class="hidden md:flex items-center bg-white border border-gray-200 rounded-full px-2 py-1 shadow-sm space-x-1"
  >
    <a
      routerLink="/feed"
      routerLinkActive="activeLink"
      [routerLinkActiveOptions]="{ exact: true }"
      class="text-gray-500 hover:text-maincolor font-medium px-4 py-1.5 rounded-full transition-all"
    >
      Feed</a
    >
    <a
      routerLink="/profile"
      routerLinkActive="activeLink"
      class="text-gray-500 hover:text-maincolor font-medium px-4 py-1.5 rounded-full transition-all"
      >Profile</a
    >
    <a
      routerLink="/notification"
      routerLinkActive="activeLink"
      class="text-gray-500 hover:text-maincolor font-medium px-4 py-1.5 rounded-full transition-all"
      >Notification</a
    >
  </div>

  <!-- جهة اليمين: Avatar + Dropdown Button -->
  <div class="flex items-center space-x-4">
    <!-- الصورة الشخصية -->
    <div
      class="w-10 h-10 rounded-full overflow-hidden border-2 border-[var(--color-maincolor)] shadow-sm"
    >
      <img
        routerLink="/profile"
        src="me.JPG"
        alt="Profile"
        class="w-full h-full object-cover cursor-pointer"
      />
    </div>

    <!-- زرار القائمة المنسدلة (3 شرط) -->
    <button
      class="p-2 rounded-md text-[var(--color-maincolor)] hover:bg-gray-50 focus:outline-none transition-colors"
    >
      <svg
        xmlns="http://www.w3.org"
        class="h-7 w-7"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"
        />
      </svg>
    </button>
  </div>
</nav>
