<section class="flex justity-center items-center min-h-screen">
  <div
    class="container mx-auto max-w-4xl bg-white/70 p-4 rounded-xl shadow border border-sky-300 flex flex-col md:flex-row"
  >
    <div class="md:flex md:w-6/12 p-10 flex-col justify-center text-center">
      <div class="space-y-4">
        <h2 class="text-maincolor font-bold tracking-tight text-md uppercase">Welcome Back</h2>
        <h1 class="text-3xl font-black text-gray-800 leading-tight">Login to Your Account</h1>
        <div class="w-40 mx-auto h-1 bg-maincolor rounded-full"></div>
        <p class="text-gray-500 text-sm leading-relaxed italic">
          "confirm your account and continue your journey with us today."
        </p>
      </div>
    </div>

    <div class="w-full md:w-6/12 p-8 md:p-12 bg-white/25 shadow rounded border-sky-100">
      <form [formGroup]="loginform" (ngSubmit)="logination()" class="grid gap-y-5">
        <div class="relative z-0">
          <input
            formControlName="login"
            type="text"
            id="email"
            class="block py-2.5 px-0 w-full text-sm text-heading bg-transparent border-0 border-b-2 border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer"
            placeholder=" "
          />
          <label
            for="email"
            class="absolute text-md text-body duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-90 peer-focus:-translate-y-6 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto"
            >Email or username</label
          >
        </div>
        @if (loginform.get('login')?.invalid && loginform.get('login')?.touched) {
          <div
            class="flex p-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
            role="alert"
          >
            <span class="sr-only">Danger</span>
            <div>
              <ul class="list-disc list-outside space-y-1 ps-2.5">
                @if (loginform.get('login')?.hasError('required')) {
                  <li>Email or username is required.</li>
                } @else if (loginform.get('login')?.hasError('minlength')) {
                  <li>Please enter a valid email or username .</li>
                }
              </ul>
            </div>
          </div>
        }

        <div class="relative z-0">
          <input
            #pass
            formControlName="password"
            type="password"
            id="password"
            class="block py-2.5 px-0 w-full text-sm text-heading bg-transparent border-0 border-b-2 border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer"
            placeholder=" "
          />
          <label
            for="password"
            class="absolute text-md text-body duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-90 peer-focus:-translate-y-6 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto"
            >password</label
          >

          <span
            (click)="showpass(pass)"
            class="absolute text-white top-1/2 end-4 -translate-y-1/2 cursor-pointer hover:text-maincolor px-1 rounded-full"
          >
            <i class="fas" [class]="pass.type === 'text' ? 'fa-eye' : 'fa-eye-slash'"></i>
          </span>
        </div>
        @if (loginform.get('password')?.invalid && loginform.get('password')?.touched) {
          <div
            class="flex p-4 text-sm text-fg-danger-strong rounded-base bg-danger-soft border border-danger-subtle"
            role="alert"
          >
            <span class="sr-only">Danger</span>
            <div>
              <ul class="list-disc list-outside space-y-1 ps-2.5">
                @if (loginform.get('password')?.hasError('required')) {
                  <li>Password is required.</li>
                } @else if (loginform.get('password')?.hasError('pattern')) {
                  <li>
                    Must contain at least 8 chars, 1 uppercase, 1 lowercase, 1 number, and 1 special
                  </li>
                }
              </ul>
            </div>
          </div>
        }

        <button
          [disabled]="loading"
          class="bg-maincolor text-white py-3 rounded cursor-pointer disabled:bg-maincolor/50"
        >
          login
          @if (loading) {
            <i class="fa-solid fa-spinner animate-spin"></i>
          }
        </button>
        @if (msgErr) {
          <div class="">
            <p class="border bg-red-100 py-2 rounded text-center text-red-900 font-bold">
              {{ msgErr }}
            </p>
          </div>
        }
        <div>
          <button
            routerLink="/forgetpass"
            class="w-full cursor-pointer hover:text-heading text-md hover:underline decoration-2 underline-offset-5"
          >
            i have forget my
            <span class="">password</span>
          </button>
          <button
            routerLink="/register"
            class="w-full cursor-pointer mt-1 hover:text-heading text-md px-3 py-2 font-bold hover:underline decoration-2 underline-offset-5"
          >
            create a new account
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
