<div class="min-h-screen flex items-center justify-center bg-secoundcolor/20 px-6">
  <div class="text-center">
    <h1 class="text-9xl font-black text-maincolor animate-pulse">404</h1>

    <p class="text-2xl md:text-3xl font-bold text-headcolor mt-4">sorry page not found !!</p>

    <p class="text-headcolor/60 mt-2 max-w-md mx-auto">
      the url you entered is not a valid url please try again with the right direction
    </p>

    <!-- الأزرار (أكشن) -->
    <div class="mt-8 flex flex-col sm:flex-row gap-4 justify-center">
      <button
        routerLink="/feed"
        class="px-8 py-3 bg-maincolor text-secligter cursor-pointer rounded-full font-bold hover:shadow-lg transition-all active:scale-95"
      >
        return to home page
      </button>
    </div>
  </div>
</div>
