<section class="max-w-5xl mx-auto bg-secoundcolor rounded-lg shadow-md overflow-hidden mt-5">
  <!-- Cover  -->
  <div class="relative h-48 md:h-64 bg-secoundcolor">
    <img
      [src]="profileData?.cover || '/assets social/imgs/clouds-g118893a4a_1920.jpg'"
      [alt]="profileData?.name"
      class="w-full h-full object-cover"
    />

    <button
      class="absolute bottom-4 right-4 bg-secligter/90 hover:bg-secligter cursor-pointer p-2.5 rounded-full shadow-lg transition-all border border-gray-200"
    >
      <i class="fa-solid fa-camera text-maincolor/70"></i>
    </button>
  </div>

  <!-- Profile  -->
  <div class="relative px-6 pb-8">
    <div class="flex flex-col md:flex-row items-center md:items-end -mt-16 md:-mt-20 md:space-x-6">
      <!-- Profile Image -->
      <div class="relative group">
        <img
          [src]="profileData?.photo"
          [alt]="profileData?.name"
          class="w-32 h-32 md:w-44 md:h-44 rounded-full border-4 border-secligter shadow-xl object-cover bg-secoundcolor"
        />
        <div
          class="absolute inset-0 bg-maincolor/30 rounded-full flex items-center justify-center opacity-0 group-hover:opacity-100 transition-all duration-300"
        >
          <label for="profile" class="cursor-pointer">
            <i class="fa-solid fa-camera text-secoundcolor text-2xl"></i>
          </label>
          <input id="profile" class="hidden" type="file" (change)="upProfilePhoto($event)" />
        </div>
      </div>

      <!-- Name & Email -->
      <div class="mt-4 md:mt-0 text-center md:text-left flex-1 pb-2">
        <div>
          <h1 class="text-3xl font-extrabold text-headcolor">{{ profileData?.name }}</h1>
          <p class="text-headcolor/60 font-medium text-lg">@{{ profileData?.username }}</p>
        </div>
        <div class="flex gap-x-5 text-headcolor/40">
          <span>followers: {{ profileData?.followersCount }}</span>
          <span>following: {{ profileData?.followingCount }}</span>
        </div>
      </div>
    </div>

    <!-- err msg  -->

    <div
      [class.hidden]="!errUpload"
      id="alert-2"
      class="flex mt-5 sm:items-center p-4 mb-4 text-sm text-fg-danger-strong rounded-full bg-danger-soft"
      role="alert"
    >
      <svg
        class="w-4 h-4 shrink-0 mt-0.5 md:mt-0"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
        />
      </svg>
      <span class="sr-only">Info</span>
      <div class="ms-2 text-sm">
        {{ errUpload }}
      </div>
    </div>
  </div>
</section>

<!-- Timeline Section -->
<div class="w-95/100 md:w-8/10 mx-auto mt-8 px-4">
  <div class="flex items-center space-x-2 mb-6 border-b border-secligter pb-2">
    <span
      class="font-bold text-headcolor/70 border-b-2 px-4 py-2"
      style="border-color: var(--main-color); color: var(--main-color)"
    >
      Your Timeline
    </span>
  </div>
  <app-create-post></app-create-post>
  <app-profileposts></app-profileposts>
</div>
