/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';
@import 'flowbite/src/themes/default';
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@theme {
  --color-maincolor: #002855;
  --color-secoundcolor: #edf7ff;

  /* for dark mood lighter sections   */
  --color-secligter: white;
  --color-headcolor: black;
}

/* الثيمات الإضافية */
[data-theme='green'] {
  --color-maincolor: #004d33;
  --color-secoundcolor: #d4e8df;
}

[data-theme='red'] {
  --color-maincolor: #660000;
  --color-secoundcolor: #f4dada;
}

[data-theme='orange'] {
  --color-maincolor: #663300;
  --color-secoundcolor: #f4e3d4;
}

[data-theme='purple'] {
  --color-maincolor: #330066;
  --color-secoundcolor: #efe6ff;
}

[data-theme='teal'] {
  --color-maincolor: #004d55;
  --color-secoundcolor: #ddf0f4;
}

/* ثيم الدارك (عكس الألوان) */
[data-theme='dark'] {
  --color-maincolor: #cddafd; /* الفاتح بقى هو الماين */
  --color-secoundcolor: #1c1f2a; /* خلفية ثانوية */
  --color-secligter: #0b0f1a; /* الخلفية الرئيسية الغامقة */
  --color-headcolor: white; /* الكلام أبيض */
}

@font-face {
  font-family: 'sn-font';
  src: url('app/font/SN_Pro/SNPro-VariableFont_wght.ttf');
  font-weight: 400;
}

body {
  font-family: 'sn-font';
  background-color: var(--color-secoundcolor);
  color: var(--color-maincolor);
}

.scrollbar-custom::-webkit-scrollbar {
  width: 6px;
}

/* Thumb */
.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.3); /* opacity 40% */
  border-radius: 9999px;
}

/* Hover */
.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: rgba(156, 163, 175, 0.7);
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}
