<div class="container mx-auto flex justify-between gap-4">
  <!-- left shorts link -->
  <div class="my-2 hidden md:block w-2/12">
    <app-shortspage></app-shortspage>
  </div>

  <!-- posts -->
  <div class="my-2 w-full md:w-7/12">
    <div class="px-4 md:px-0">
      <app-create-post (refreshPosts)="single.getAllPosts()"></app-create-post>

      <app-singlepost #single></app-singlepost>
    </div>
  </div>

  <!-- suggested fowllowers  -->
  <div class="my-2 hidden md:block w-3/12">
    <app-followsugg></app-followsugg>
  </div>
</div>
